# IDEA files
*.iml
*.ipr
*.iws
/.idea/*
app/src/main/gen/*

# IDEA/Android Studio Ignore exceptions
!/.idea/codeStyles/
!/.idea/inspectionProfiles/

# Gradle
.gradle
local.properties
/.gradle
/build
/app/build

# IDE / Text editor files
.nb-gradle
.nb-gradle-properties
*.sw[op]
*~
*.sublime-*
.textmate
.java-version

# OS files
*.DS_Store
Thumbs.db
app/gradle/wrapper/gradle-wrapper.jar
app/gradlew
app/gradlew.bat
app/gradle/wrapper/gradle-wrapper.properties

# related to release notes
app/src/prodRelease/play/release-notes/*

#related to OpenCV
/libraries/opencv/build
app/src/main/jniLibs
#Below removes all the HTML files related to OpenCV documentation. The documentation can be otherwise found at:
#https://docs.opencv.org/3.3.0/
/libraries/opencv/javadoc/
captures/*

# Test and other output
app/jacoco.exec
app/CommonsContributions