name: Android CI

on: [push, pull_request]

concurrency:
  group: build-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: Run tests and generate APK
    runs-on: ubuntu-latest
    environment: CI
    steps:
      - uses: actions/checkout@v2.4.0

      - name: Set up JDK
        uses: actions/setup-java@v2.5.0
        with:
          distribution: "temurin"
          java-version: 11

      - name: Cache packages
        id: cache-packages
        uses: actions/cache@v2.1.7
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: gradle-packages-${{ runner.os }}-${{ hashFiles('**/*.gradle', '**/*.gradle.kts', 'gradle.properties') }}
          restore-keys: gradle-packages-${{ runner.os }}

      - name: Access test login credentials
        env:
          TEST_USER_NAME: ${{ secrets.TEST_USER_NAME }}
          TEST_USER_PASSWORD: ${{ secrets.TEST_USER_PASSWORD }}
        run: |
          echo "TEST_USER_NAME=$TEST_USER_NAME" >> local.properties
          echo "TEST_USER_PASSWORD=$TEST_USER_PASSWORD" >> local.properties

      - name: AVD cache
        uses: actions/cache@v2
        id: avd-cache
        with:
          path: |
            ~/.android/avd/*
            ~/.android/adb*
          key: avd-api-24

      - name: Create AVD and generate snapshot for caching
        if: steps.avd-cache.outputs.cache-hit != 'true'
        uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: 24
          force-avd-creation: false
          emulator-options: -no-window -gpu swiftshader_indirect -noaudio -no-boot-anim -camera-back none
          disable-animations: true
          script: echo "Generated AVD snapshot for caching."

      - name: Run Instrumentation tests
        uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: 24
          force-avd-creation: false
          emulator-options: -no-snapshot-save -no-window -gpu swiftshader_indirect -noaudio -no-boot-anim -camera-back none
          disable-animations: true
          profile: 13.5in Freeform
          script: |
            adb shell content insert --uri content://settings/system --bind name:s:accelerometer_rotation --bind value:i:0
            adb shell content insert --uri content://settings/system --bind name:s:user_rotation --bind value:i:0
            ./gradlew connectedBetaDebugAndroidTest --stacktrace

      - name: Run Unit tests
        run: ./gradlew -Pcoverage testBetaDebugUnitTestCoverage --stacktrace

      - name: Upload Test Report to Codecov
        run: |
          curl -Os https://uploader.codecov.io/latest/linux/codecov
          chmod +x codecov
          ./codecov -f "app/build/reports/jacoco/testBetaDebugUnitTestCoverage/testBetaDebugUnitTestCoverage.xml" -Z

      - name: Generate betaDebug APK
        run: bash ./gradlew assembleBetaDebug --stacktrace

      - name: Upload betaDebug APK
        uses: actions/upload-artifact@v2.3.1
        with:
          name: betaDebugAPK
          path: app/build/outputs/apk/beta/debug/app-*.apk

      - name: Generate prodDebug APK
        run: bash ./gradlew assembleProdDebug --stacktrace

      - name: Upload prodDebug APK
        uses: actions/upload-artifact@v2.3.1
        with:
          name: prodDebugAPK
          path: app/build/outputs/apk/prod/debug/app-*.apk
